.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.iml
app/google-services.json

# Avoid committing Gradle wrapper binary in this repository policy
gradle/wrapper/gradle-wrapper.jar
